.responsive-tabs {
}
.responsive-tabs dt {
  padding: 0.5em;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.responsive-tabs dt:first-child {
  border-top: 0;
}
.responsive-tabs .active {
  background-color: #ccc;
}
.responsive-tabs .active + dd {
  display: block;
}
.responsive-tabs dd {
  display: none;
  padding: 0.5em;
}

.responsive-tabs-placeholder {
  display: none;
}

@media only screen and (min-width: 768px) {
  .responsive-tabs {
  }
  .responsive-tabs dt {
    float: left;
    border-top: 0;
  }
  .responsive-tabs .active + dd {
    display: none;
  }

  .responsive-tabs-placeholder {
    clear: both;
    display: block;
    padding: 1em;
    border-top: 1px solid #ccc;
  }
}

/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 sans-serif;
  color: rgb(168, 8, 8);
}

body {
  padding: 1em;
}

h1 {
  margin-bottom: 1em;
}
